name: global_task_planner
description: A smart task planner.
publish_to: 'none'
version: 1.0.2

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  intl: any
  shared_preferences: any

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
